

<div th:fragment="html">
    <div id="footer"  class="footer" style="display: block;">
        <div id="footer_ensure" class="footer_ensure">
            <a href="#nowhere">
                <img src="img/site/ensure.png">
            </a>
        </div>

        <div class="horizontal_line">
        </div>

        <div id="footer_desc" class="footer_desc">
            <div class="descColumn">
                <span class="descColumnTitle">购物指南</span>
                <a href="#nowhere" >免费注册</a>
                <a href="#nowhere" >开通支付宝</a>
                <a href="#nowhere" >支付宝充值</a>
            </div>
            <div class="descColumn">
                <span class="descColumnTitle">商城保障</span>
                <a href="#nowhere" >发票保障</a>
                <a href="#nowhere" >售后规则</a>
                <a href="#nowhere" >缺货赔付</a>
            </div>
            <div class="descColumn">
                <span class="descColumnTitle">支付方式</span>
                <a href="#nowhere" >快捷支付</a>
                <a href="#nowhere" >信用卡</a>
                <a href="#nowhere" >蚂蚁花呗</a>
                <a href="#nowhere" >货到付款</a>
            </div>
            <div class="descColumn">
                <span class="descColumnTitle">商家服务</span>
                <a href="#nowhere" >商家入驻</a>
                <a href="#nowhere" >商家中心</a>
                <a href="#nowhere" >商城智库</a>
                <a href="#nowhere" >商城规则</a>
                <a href="#nowhere" >物流服务</a>
                <a href="#nowhere" >喵言喵语</a>
                <a href="#nowhere" >运营服务</a>
            </div>
            <div class="descColumn">
                <span class="descColumnTitle">手机商城</span>
                <a href="#nowhere" ><img src="img/site/ma.png"></a>
            </div>

        </div>

        <div style="clear:both">

        </div>




        <div id="copyright" class="copyright">
            <div class="coptyrightMiddle">
                <div class="white_link" >
                    <a href="#nowhere" style="padding-left:0px" >关于商城</a>
                    <a href="#nowhere" >帮助中心</a>
                    <a href="#nowhere" >开放平台</a>
                    <a href="#nowhere" >诚聘英才</a>
                    <a href="#nowhere" >联系我们</a>
                    <a href="#nowhere" >网站合作</a>
                    <a href="#nowhere" >法律声明</a>
                    <a href="#nowhere" >知识产权</a>
                    <a href="#nowhere" >  廉正举报	</a>
                </div>

                <div class="license">
                    <div class="copyRightYear">&copy; 2003-2020 MALL.COM 版权所有</div>
                </div>
            </div>
        </div>
    </div>
    <div th:fragment="html">
